footer{
    
    height: 50px;
    text-align: left;
    color:#808080;
    left: 1200px;
}

body{
    background-color: azure;
    margin: 0%;
    padding: 0%;
}
.general {
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;

}

.btn{
    top: 110%;
    width: 40%;
    height: 60%;
}



.text{
    float: left;
    width: 70%;
    height: 80%;
    /* left: 500px; */
    /* top: 40px; */
   /*  position: fixed; */
}

.texto{
    float: left;
    /* position: absolute; */
    background-color: azure;
    /* idth: 680px;
    height: 208px; */
    width: 80%;
    height: 60%;
    left: 240px;
    top: 168px;
    font-family: 'inter';
    font-style: normal;
    color: #0A3871;
    font-size: 16px;
    border: none;
    outline: none;
}


.container{
    float: right;
    width: 30%;
    height: auto;
    /* left: 500px; */
    /* top: 40px; */
    /* position: fixed; */
}


.mensaje{
    background-image: url(img/Muñeco.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:white;
    position: absolute;
    width: 200px;
    height: 400px;
    left: 800px;
    top: 30px;
    padding: 5px grey;
    font-size: 15px;
    border-radius: 23px;
}


.encriptar {
    background-color: #0A3871;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 24px;
    border-radius: 24px;
    width: 160px;
    height: 32px;
    left: 100px;
    top: 400px;
    gap: 8px;
    color: azure;
    border: 1px,solid lightblue;
    size: 16px;
    font-family: 'Arial';
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
    align-items: center;

}
.desencriptar{
    
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding: 24px;
    border-radius: 24px;    
    width: 160px;
    height: 32px;
    left: 320px;
    top: 400px;   
    gap: 8px;
    border: 1px,solid lightblue;
    size: 16px;
    font-family: 'Arial';
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
    color:#0A3871;
    align-items: center;
}

.copiar{
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    padding: 24px;
    border-radius: 24px;    
    width: 160px;
    height: 32px;
    left: 850px;
    top: 400px;   
    gap: 8px;
    border: 1px,solid lightblue;
    size: 16px;
    align-content: center;
    font-family: 'Arial';
    font-style:normal;
    font-weight: 400;
    font-size: 20px;
    color:#0A3871;
}

